In [1]:
!pip install google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client google-cloud-bigquery db-dtypes
# These libraries help authenticate your app, handle authorization, 
# and enable communication with Google services through APIs in a Python environment.

Requirement already satisfied: google-auth in c:\users\****\anaconda3\lib\site-packages (2.32.0)
Requirement already satisfied: google-auth-oauthlib in c:\users\****\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: google-auth-httplib2 in c:\users\****\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: google-api-python-client in c:\users\****\anaconda3\lib\site-packages (2.160.0)
Requirement already satisfied: google-cloud-bigquery in c:\users\****\anaconda3\lib\site-packages (3.27.0)
Requirement already satisfied: db-dtypes in c:\users\****\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\****\anaconda3\lib\site-packages (from google-auth) (5.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\****\anaconda3\lib\site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\****\anaconda3\lib\site-packages (from google-auth) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\****\anaconda3\lib\site-packages (from google-auth-oauthlib) (2.0.0)
Requirement already satisfied: httplib2>=0.19.0 in c:\users\****\anaconda3\lib\site-packages (from google-auth-httplib2) (0.22.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in c:\users\****\anaconda3\lib\site-packages (from google-api-python-client) (2.23.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\****\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in c:\users\****\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in c:\users\****\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in c:\users\****\anaconda3\lib\site-packages (from google-cloud-bigquery) (24.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in c:\users\****\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in c:\users\****\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.31.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\****\anaconda3\lib\site-packages (from db-dtypes) (2.2.3)
Requirement already satisfied: pyarrow>=3.0.0 in c:\users\****\anaconda3\lib\site-packages (from db-dtypes) (18.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\****\anaconda3\lib\site-packages (from db-dtypes) (1.23.5)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\****\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in c:\users\****\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (5.28.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\****\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.25.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\****\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.67.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\****\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.67.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\****\anaconda3\lib\site-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\****\anaconda3\lib\site-packages (from httplib2>=0.19.0->google-auth-httplib2) (3.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\****\anaconda3\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\****\anaconda3\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2024.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\****\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)
Requirement already satisfied: six>=1.5 in c:\users\****\anaconda3\lib\site-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\****\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\****\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\****\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\****\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.8.30)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\****\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.2.2)

WARNING: Ignoring invalid distribution ~onttools (C:\Users\****\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~onttools (C:\Users\****\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~onttools (C:\Users\****\anaconda3\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from google.cloud import bigquery  # For interacting with Google BigQuery
from google.oauth2 import service_account  # For service account authentication
from google.auth.transport.requests import Request  # For making authenticated HTTP requests
import google.auth  # For handling authentication
from googleapiclient.discovery import build  # For building and interacting with Google APIs
import pandas as pd # For the dataset

C:\Users\****\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
KEY_PATH = r"C:\Users\****\Downloads\atlantean-site-430006-t5-86942fca642e.json"

credentials = service_account.Credentials.from_service_account_file(KEY_PATH) # Authenticate with the credentials

In [13]:
# Initialize the BigQuery client
client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [14]:
dataset_id = 'atlantean-site-430006-t5.product_analytics'

# Get the dataset reference
dataset_ref = client.get_dataset(dataset_id)

# List all tables in the dataset
tables = client.list_tables(dataset_ref)
for table in tables:
    print(f"Table name: {table.table_id}")

Table name: sachin ODI

In [25]:
query = """
SELECT *
FROM `atlantean-site-430006-t5.product_analytics.sachin ODI`
LIMIT 10
"""

# Run the query
query_job = client.query(query)

results = query_job.result()

In [26]:
df = results.to_dataframe()

# Display the first few rows
df.head(10)

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,7,0,24,11,1,0,63.63,1,Australia,Colombo (SSC),1996-09-06,Australia,False,False
1,15,0,45,24,2,0,62.50,1,Australia,Delhi,1998-04-14,Australia,False,False
2,14,0,52,33,0,0,42.42,1,Australia,Galle,1999-08-23,Australia,False,False
3,1,0,13,11,0,0,9.09,1,Australia,Sydney,2000-01-14,Australia,False,False
4,3,0,23,21,0,0,14.28,1,Australia,Perth,2000-01-30,Australia,False,False
5,32,0,35,29,6,1,110.34,1,Australia,Pune,2001-03-28,Australia,False,False
6,12,0,17,15,2,0,80.00,1,Australia,Margao,2001-04-06,Australia,False,False
7,36,0,127,59,3,0,61.01,1,Australia,Centurion,2003-02-15,Australia,False,False
8,5,0,17,6,1,0,83.33,1,Australia,Perth,2004-02-01,Australia,False,False
9,8,0,28,22,1,0,36.36,1,Australia,Melbourne,2004-02-06,Australia,False,False